<footer class="text-secondary mt-3" id="footer">
  <div class="container pt-3">
    <div class="row mb-2">
      <div class="col-md-4">
        <h3 class="text-light">Behind the story</h3>
        <p class="text-justify">
          This project was started as an Angular starter project during the COVID-19 panademic. 
          By seeing the crisis and situation during this panademic , It was necessary
          to provide a dashboard to citizens so they can know the status in a single click.
        </p>
        <p>This project is made with <i class="fa fa-heart text-danger"></i></p>
      </div>
      <div class="col-md-4">
     
      </div>
      <div class="col-md-4">
     
        <hr>
        <h3 class="text-light">Data sources <i class="fa fa-database text-secondary"></i> </h3>
        <ul>
          <li>
            <i class="fa fa-angle-double-right text-light mr-2"></i>
          <a href="https://api.covid19api.com/">https://api.covid19api.com/</a>
          </li>
          <li>
            <i class="fa fa-angle-double-right text-light mr-2"></i>
            <a href="https://api.covid19india.org/data.json/">https://api.covid19india.org/data.json/</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="text-info text-justify mt-3">
      <i class="fa fa-exclamation-triangle"></i> 
      This is not a ' Official Govermental Website ' nor the data is approved by Goverment of any organization, department, country, state, city  or district.
      Data here are collected from various sources and displayed.
      This project was created for learning purpose.
      Please don't misinterpret. . 
    </p>
    <p class="text-center text-warning pb-3">**This Website is still under Beta version . You can contribute any time and be a part.</p>
  </div>
</footer>